@{
  Layout = "_Layout";
}

@model University.Models.Course

<h4>Add a new Course</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)
    @Html.LabelFor(model => model.Number)
    @Html.TextBoxFor(model => model.Number)
    <input type="submit" value="Add new Course" />
}
<p>@Html.ActionLink("Show all Courses", "Index")</p>